html, body {
    width: 100%;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: lighter;
}

.pacman-container {
    text-align: center;

    header {
        font-size: 4em;
        font-weight: bold;
        color: rgb(200,50,200);
        text-transform: uppercase;
    }

    .level, .score {
        margin: 0 40px;
        font-size: 2em;
        font-weight: bold;
        display: inline-block;
    }

    .stats {
        display: flex;
        justify-content: space-around;
    }

    .level {
        color: rgb(10, 92, 67);
    }

    .score {
        color: rgb(172, 43, 11);
    }

    canvas {
        display: block;
        margin: 0 auto;
    }

}

